@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300;400;700&family=Montserrat&family=Poppins&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background:#141414;
    --text-color :#fff;
    --primary-color :#5ffa4b;
    --secondary-color :#000;
    --alpha-color:rgba(0,0,0,0.5);
    --shadow: 0 15px 40px (var(--alpha-color))
}

html{
    background: var(--background);
    display: flex;
    justify-content: center;
}
body{
    width: 100%;
    height: 100vh;
    max-width: 375px;
    position: relative;
    background: var(--background);
    color: var(--text-color);
}
::-webkit-scrollbar{
    display: none;
}

/* Home Section */

.home-section{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 100px;
    overflow-y: auto;
}

/* carausel */
.carousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--shadow);
    position: relative;
}
.carousel img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}
.carousel img.active{
    opacity: 1;
}
.heading{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 10px;
}

/* playlist */
.playlist-group{
    position: relative;
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.playlist-card{
    flex: 0 0 auto;
     max-width: 150px;
    height: 100px;
    margin-right: 20px; 
}

.playlist-card-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}
.playlist-card-name{
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    font-size: 20px;
    padding: 5px;
}
/* music player */

/* minimizi view */
.music-player-section{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--alpha-color);
    backdrop-filter: blur(50px);
    transition: 1s;
}
.music-seek-bar{
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    top: -5px;
    background: var(--secondary-color);
    overflow: hidden;
}
.music-seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 5%;
    background: var(--primary-color);
    cursor: pointer;
    box-shadow: -300px 0 0 300px var(--primary-color);
}
.curren-song-name{
    font-weight: 300;
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
}
.controls{
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    width: 80%;
    height: 60px;
    font-size: 30px;
}
.controls span{
    display: none;
    opacity: 0;
    transition: 1s;
}
.music-player-section.active .controls{
    justify-content: space-between;
}
.music-player-section.active .controls span{
    font-size: 25px;
    opacity: 1;
    display: block;
}
.music-player-section.active .controls span.active{
    color: var(--primary-color);
    opacity: 1;
    
}
.controls .main i{
    margin: 0 5px;
    display: none;
}
.controls .main i.active{
    display:inline;
}

/* maximize music player*/
.music-player-section .hide{
    display: none;
    opacity: 0;
    transition: 1s;
}
.music-player-section.active .hide{
    display: block;
    opacity: 1;
}
.music-player-section.active{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
} 
.music-player-section.active .music-seek-bar{
    position: relative;
    display: block;
    border-radius: 50px;
    margin: auto;
}
.music-player-section.active .curren-song-name{
    font-size: 40px;
}
.music-player-section.active .controls{
    width: 100%;
    font-size: 40px;
}
.artis-name{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
.cover{
    width: 30vw;
    height: 30vh;
    box-shadow: var(--shadow);
    margin: auto;
    border-radius: 20px;
    object-fit: cover;
}
.current-time{
    position: absolute;
    margin-top: 5px;
    left: 30px;
}
.duration{
    position: absolute;
    margin-top: 5px;
    right: 30px;
}
.icon{
    position: absolute;
    top: 60px;
    transform: scale(1.3);
}
.btn-back{
    left: 40px;
    cursor: pointer;
}
.btn-nav{
    right: 50px;
    cursor: pointer;
}

/* volume butoon */

.volume-slider{
    -webkit-appearance: none;
    width: 100px;
    height: 30px;
    position: absolute;
    right: -35px;
    bottom: 95px;
    transform: rotate(-90deg);
    border-radius: 20px;
    background: var(--alpha-color);
    overflow:hidden;
    opacity: 0;
    display: none;
}
.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    box-shadow: -200px 0 1px 200px var(--primary-color);
}
.volume-slider.active{
    opacity: 1;
    display: block;
}

/* Playlist */
.playlist{
    width: 100%;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    background: var(--background);
    padding: 30px 0;
    z-index: 3;
    transition: 1s;
    overflow: auto;
}
.playlist.active{
    right: 0;
}
.title{
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.queue{
    width: 100%;
    height: 80px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--alpha-color);
}
.queue-cover{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}
.queue-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.queue-cover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: var(--primary-color);
    display: none;
}
.queue.active i {
    display: block;
}
.queue .name{
    font-size: 22px;
    text-transform: capitalize;
}